serviceNames=twitter,foursquare,facebook

default.callbackURL=http://localhost:9000/accounts/oauthcallback
default.oauthPersistenceClass=models.OAuthCredentialFactory

twitter.requestURL=http://twitter.com/oauth/request_token
twitter.authorizeURL=http://twitter.com/oauth/authorize
twitter.accessURL=http://twitter.com/oauth/access_token
twitter.consumerKey=xxxxxxxxxxxxxxxxx
twitter.consumerSecret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

facebook.isOAuth2=true
facebook.authorizeURL2=https://www.facebook.com/dialog/oauth
facebook.accessURL2=https://graph.facebook.com/oauth/access_token
facebook.consumerKey=xxxxxxxxxxxxxxxxx
facebook.consumerSecret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx

foursquare.isOAuth2=true
foursquare.authorizeURL2=https://foursquare.com/oauth2/authorize
foursquare.accessURL2=https://foursquare.com/oauth2/access_token
foursquare.requestURL=https://foursquare.com/oauth/request_token
foursquare.authorizeURL=https://foursquare.com/oauth/authorize
foursquare.accessURL=https://foursquare.com/oauth/access_token
foursquare.consumerKey=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
foursquare.consumerSecret=xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
